<html>
<head>
<title>Home | Telegram Hub</title>
<script type="text/javascript" src="{{PUBLIC_STATIC_HTTP_PATH}}/jquery-3.5.1.min.js"></script> 
<script type="text/javascript" src="{{PUBLIC_STATIC_HTTP_PATH}}/common.js"></script> 
</head>
<body>
<h1>Home</h1>
<p><a href="/publishers">Publisher list</a></p>
<p><a href="/hubs">Hub list</a></p>
<p><a href="/bots">Bot list</a></p>
{% include 'zzz_footer.tmpl' %}
</body>
</html>
