<p>Hello, World!</p>
<p>STAGE={{STAGE}}</p>
<p>PRIVATE_TXT={{PRIVATE_TXT}}</p>
<p>LAST_TS={{LAST_TS}}</p>
<p>NOW_TS={{NOW_TS}}</p>
<p>JOB0_TS={{JOB0_TS}}</p>
<p>LAST_RAND={{LAST_RAND}}</p>
<p>NOW_RAND={{NOW_RAND}}</p>
<p><a href="{{PUBLIC_DEPLOYGEN_URL_PREFIX}}/STAGE.txt">deploygen-STAGE</a></p>
<p><a href="{{PUBLIC_DEPLOYGEN_URL_PREFIX}}/TIMESTAMP.txt">deploygen-TIMESTAMP</a></p>
<p>PUBLIC_COMPUTE_URL_PREFIX   = <a href="{{PUBLIC_COMPUTE_URL_PREFIX}}"  >{{PUBLIC_COMPUTE_URL_PREFIX}}</a></p>
<p>PUBLIC_STATIC_URL_PREFIX    = <a href="{{PUBLIC_STATIC_URL_PREFIX}}"   >{{PUBLIC_STATIC_URL_PREFIX}}</a></p>
<p>PUBLIC_DEPLOYGEN_URL_PREFIX = <a href="{{PUBLIC_DEPLOYGEN_URL_PREFIX}}">{{PUBLIC_DEPLOYGEN_URL_PREFIX}}</a></p>
<p>PUBLIC_MUTABLE_URL_PREFIX   = <a href="{{PUBLIC_MUTABLE_URL_PREFIX}}"  >{{PUBLIC_MUTABLE_URL_PREFIX}}</a></p>
<p>PUBLIC_TMP_URL_PREFIX       = <a href="{{PUBLIC_TMP_URL_PREFIX}}"      >{{PUBLIC_TMP_URL_PREFIX}}</a></p>
