{% extends "zzz_base.tmpl" %}

{% block title %}Publisher list{% endblock %}

{% block body %}
  <ul>
    <li><a href="/publishers.new">Create new publisher</a></li>
    {% for PUBLISHER in PUBLISHER_LIST %}
      <li><a href="/hubs/{{PUBLISHER.id}}">{{PUBLISHER.id}}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
