<html>
<head>
<title>{{ self.title() }} | Telegram Hub</title>
<script type="text/javascript" src="{{PUBLIC_STATIC_HTTP_PATH}}/jquery-3.5.1.min.js"></script> 
<script type="text/javascript" src="{{PUBLIC_STATIC_HTTP_PATH}}/common.js"></script> 
</head>
<body>
<h1>{{ self.title() }}</h1>
{% block body %}{% endblock %}
<hr/>
<p><a href="/logout">Logout</a></p>
<p><code>USER_ID={{current_user.id}}</code></p>
</body>
</html>
