{% extends "zzz_base.tmpl" %}

{% block title %}Hub list{% endblock %}

{% block body %}
  <ul>
    <li><a href="/hubs.new">Create new hub</a></li>
    {% for HUB in HUB_LIST %}
      <li><a href="/hubs/{{HUB.id}}">{{HUB.id}}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
