{% extends "zzz_base.tmpl" %}

{% block title %}Login{% endblock %}

{% block body %}
  {% if ERR_MSG %}
    <p style="color:red">Error: {{ERR_MSG}}</p>
  {% endif %}
  {% if TELEGRAM_AUTH_BYPASS_USER_ID %}
    <p><button id="telegram_auth_bypass">TELEGRAM_AUTH_BYPASS</button></p>
  {% endif %}
  <script
    async
    src="https://telegram.org/js/telegram-widget.js?11"
    data-telegram-login="{{TG_AUTH_BOT_USER_USERNAME}}"
    data-size="large"
    data-auth-url="https://{{HOST}}/login/telegram-auth-callback"
    data-request-access="write"
  ></script>
{% endblock %}

{% block script %}
  {% if TELEGRAM_AUTH_BYPASS_USER_ID %}
    $(function(){
      $('#telegram_auth_bypass').click(function(){
        post("/login/telegram-auth-bypass",{});
      });
    });
  {% endif %}
{% endblock %}
