<html>
<head>
<title>Step 2/3: Bot /setdomain | Telegram Hub</title>
</head>
<body>
<h1>Step 2/3: Bot /setdomain</h1>
<ol>
<li>Telegram, talk to <a href="https://t.me/botfather">@BotFather</a>.</li>
<li>
<p>You:<br/><code style="color:green">/setdomain</code></p>
<p>BotFather:<br/><span style="color:gray">Choose a bot to set or change its linked domain...</span></p>
<p>You:<br/><code style="color:green">@{{AUTH_TELEGRAM_BOT_ID}}</code></p>
<p>BotFather:<br/><span style="color:gray">Link your website with your bot to use the Telegram Login Widget...</span></p>
<p>You:<br/><code style="color:green">{{COMPUTE_DOMAIN}}</code></p>
<p>BotFather:<br/><span style="color:gray">Success! Domain updated...</span></p>
</li>
<li><button>Next step</button></li>
</ol>
</body>
</html>
