{% extends "zzz_base.tmpl" %}

{% block title %}Step 2/3: Bot /setdomain{% endblock %}

{% block body %}
  <ol>
    <li>Telegram, talk to <a href="https://t.me/botfather">@BotFather</a>.</li>
    <li>
      <p>You:<br/><code style="color:green">/setdomain</code></p>
      <p>BotFather:<br/><span style="color:gray">Choose a bot to set or change its linked domain...</span></p>
      <p>You:<br/><code style="color:green">@{{TG_AUTH_BOT_USER_USERNAME}}</code></p>
      <p>BotFather:<br/><span style="color:gray">Link your website with your bot to use the Telegram Login Widget...</span></p>
      <p>You:<br/><code style="color:green">{{HOST}}</code></p>
      <p>BotFather:<br/><span style="color:gray">Success! Domain updated...</span></p>
    </li>
    <li><button id="submit">Next step</button></li>
  </ol>
{% endblock %}

{% block footer %}
  <p><a id="new_bot_clean_btn" href="#">Step 1/3: Create new bot</a></p>
{% endblock %}

{% block script %}
  $(function(){
    $('#submit').click(function(){
      post(
        window.location.href,
        {'step':'bot_set_domain'}
      );
    });
    $('#new_bot_clean_btn').click(function(){
      post(
        window.location.href,
        {'step':'new_bot_clean'}
      );
    });
  });
{% endblock %}
