<html>
<head>
<title>Step 3/3: Telegram hub owner login | Telegram Hub</title>
<script type="text/javascript" src="{{PUBLIC_STATIC_HTTP_PATH}}/jquery-3.5.1.min.js"></script> 
<script type="text/javascript" src="{{PUBLIC_STATIC_HTTP_PATH}}/common.js"></script> 
</head>
<body>
<h1>Step 3/3: Telegram hub owner login</h1>
<p>Login with your Telegram Account.</p>
<p>The Telegram account will become owner.</p>
<script async
src="https://telegram.org/js/telegram-widget.js?11"
data-telegram-login="{{TG_AUTH_BOT_USER_USERNAME}}"
data-size="large"
data-auth-url="https://{{HOST}}/install/telegram-auth-callback/"
data-request-access="write"></script>
<p>More Telegram Account can be added as owner after setup.</p>
<hr/>
<ul>
 <li><a id="new_bot_clean_btn" href="#">Step 1/3: Create new bot</a></li>
 <li><a id="bot_set_domain_clean_btn" href="#">Step 2/3: Bot /setdomain</a></li>
</ul>
<div style="display:none">
 <script>
  $(function(){
    $('#new_bot_clean_btn').click(function(){
      post(
        window.location.href,
        {'step':'new_bot_clean'}
      );
    });
    $('#bot_set_domain_clean_btn').click(function(){
      post(
        window.location.href,
        {'step':'bot_set_domain_clean'}
      );
    });
  });
 </script>
</div>
</body>
</html>
