{% extends "zzz_base.tmpl" %}

{% block title %}Step 3/3: Telegram hub owner login{% endblock %}

{% block body %}
  {% if ERR_MSG %}
    <p style="color:red">Error: {{ERR_MSG}}</p>
  {% endif %}
  <p>Login with your Telegram Account.</p>
  <p>The Telegram account will become owner.</p>
  {% if TELEGRAM_AUTH_BYPASS_USER_ID %}
    <p><button id="telegram_auth_bypass">TELEGRAM_AUTH_BYPASS</button></p>
  {% endif %}
  <script
    async
    src="https://telegram.org/js/telegram-widget.js?11"
    data-telegram-login="{{TG_AUTH_BOT_USER_USERNAME}}"
    data-size="large"
    data-auth-url="https://{{HOST}}/setup/telegram-auth-callback"
    data-request-access="write"
  ></script>
  <p>More Telegram Account can be added as owner after setup.</p>
{% endblock %}

{% block footer %}
  <p><a id="new_bot_clean_btn" href="#">Step 1/3: Create new bot</a></p>
  <p><a id="bot_set_domain_clean_btn" href="#">Step 2/3: Bot /setdomain</a></p>
{% endblock %}

{% block script %}
  $(function(){
    $('#new_bot_clean_btn').click(function(){
      post(
        window.location.href,
        {'step':'new_bot_clean'}
      );
    });
    $('#bot_set_domain_clean_btn').click(function(){
      post(
        window.location.href,
        {'step':'bot_set_domain_clean'}
      );
    });
  });
  {% if TELEGRAM_AUTH_BYPASS_USER_ID %}
    $(function(){
      $('#telegram_auth_bypass').click(function(){
        post(window.location.href,
        {'step':'th_owner_login_telegram_auth_bypass'});
      });
    });
  {% endif %}
{% endblock %}
